<div class="ui inverted page grid stackable relaxed feature segment">
  <div class="row">
    <div class="column">
      <h1 class="center aligned ui header">
        Security Related Resources
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="ten wide column">
      <h2 class="ui header">2-Factor Authentication Articles</h2>
      <p>Read more about why 2-Factor Authentication is important to implement.</p>
      
      <div class="ui inverted animated selection list">
        <div class="item">
          <a href="http://www.wired.com/gadgetlab/2012/11/ff-mat-honan-password-hacker/all/">
            Kill the Password: Why a String of Characters Can’t Protect Us Anymore
          </a>
          <div class="right floated">Wired</div>
        </div>
        <div class="item">
          <a href="http://www.nytimes.com/2012/10/14/technology/two-step-verification-is-inconvenient-but-more-secure.html">
            Doing the Two-Step, Beyond the A.T.M
          </a>
          <div class="right floated">New York Times</div>
        </div>
        <div class="item">
          <a href="http://www.makeuseof.com/tag/what-is-two-factor-authentication-and-why-you-should-use-it/">
            What Is Two-Factor Authentication, And Why You Should Use It
          </a>
          <div class="right floated">MakeUseOf</div>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <h2 class="ui header">2-Factor Authentication Services</h2>
      <p class="tiny">Gringotts is not affiliated with, nor does it endorse, these services in any way. These links are merely to demonstrate the existing landscape of "Authentication as a Service"</p>
      
      <div class="ui inverted animated selection list">
        <div class="item">
          <a href="https://www.swiftidentity.com/">Swift Identity</a>
        </div>
        <div class="item">
          <a href="https://www.duosecurity.com/">Duo Security</a>
        </div>
        <div class="item">
          <a href="https://www.authy.com/">Authy</a>
        </div>
      </div>
    </div>
  </div>
</div>