<div class="ui page grid overview segment">
  <div class="ui two wide column"></div>
  <div class="twelve wide column">
    
    <h2 class="ui header">How easy is Gringotts to use? Sooooooo easy!</h2>
    
    <div class="ui four column center aligned stackable divided grid">
      <div class="column">
        <div class="ui icon header">
          <i class="circular sign in link icon"></i>
          Sign In 
        </div>
        <p>Register and sign in with your account like usual.</p>
      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="circular phone link icon"></i>
          Phone Number
        </div>
        <p>Enter mobile phone number for validation.</p>
      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="circular key link icon"></i>
          Secret Code
        </div>
        <p>Code is sent to mobile phone via SMS.</p>
      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="circular unlock alternate link icon"></i>
          Verified
        </div>
        <p>Account is unlocked and accessible like usual.</p>
      </div>
    </div>
  </div>
</div>