<% content_for :header do %>
  <img src="http://semantic-ui.com/build/examples/images/cat.png" class="ui medium image">
  <div class="ui hidden transition information">
    <h1 class="ui inverted header">
      O hai!
    </h1>
    <p>This demonstrates <a href="https://github.com/conroywhitney/gringotts">Gringotts 2FA Phone Verification</a> for Rails</p>
    <a href="/users/sign_up" class="large blue inverted animated fade ui button">
      <div class="visible content">Begin the Demonstration</div>
      <div class="hidden content">Create an Account</div>
    </a>
    <a href="https://github.com/conroywhitney/gringotts" class="large white inverted animated fade ui button">
      Install the Gem
    </a>
  </div>
<% end %>

<%= render partial: "features" %>

<%= render partial: "cta" %>

<%= render partial: "testimonials" %>
