<div class="ui inverted teal page grid segment">
  <div class="ten wide column">
    <div class="ui">
      <div class="three wide column">
        <h3 class="ui header">Gringotts 2FA</h3>
        <div class="ui subheader">Verification Engine for Rails. Protego!</div>
        <div class="ui inverted link list">
          <a class="item" href="https://github.com/conroywhitney/gringotts">GitHub</a>
          <a class="item" href="https://github.com/conroywhitney/gringotts/issues">Issues</a>
        </div>
      </div>
    </div>
  </div>
  <div class="six wide right floated aligned column">
    <h3 class="ui header">Semantic-UI</h3>
    <div class="ui subheader">UI is the vocabulary of the web.</div>
    <div class="ui inverted link list">
      <a class="item" href="http://semantic-ui.com/">Homepage</a>
      <a class="item" href="https://github.com/jlukic/semantic-ui/">GitHub</a>
    </div>
  </div>
</div>
