<% if flash.any? %>
  <div class="ui page grid segment">
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) && (name == :notice) %>
          <div class="ui message <%= (name == :notice) ? "success" : "error" %>">
            <i class="close icon"></i>
            <%= msg %>
          </div>
        <% end %>
      <% end %>
      
    </div>
    <div class="two wide column"></div>
  </div>
<% end %>